# Whitelist for Go
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore

# Ignore everything
*

# Allow CI configs
!/.gitignore
!/.github/workflows/*.yml
!/Makefile

# Allow source code...
!*.go
!go.sum
!go.mod

!README.md
!LICENSE

# ...also in subdirectories
!*/
